# Core dependencies
streamlit==1.30.0
python-dotenv
requests
PyMuPDF==1.23.9        
python-docx             
python-pptx            
chromadb==0.4.24
sentence-transformers
pandas
typing_extensions
nltk
